.container {
  position: relative;
  padding-bottom: 10px;

  /* Set other styling properties as needed */
}

.videodiv {
  position: relative;
  top: 0;
  left: 0;
  width: 730px;
  height: 450px;

  /* Set other video styling properties */
}

.hello-all {
  position: absolute;
  width: 600px;
  height: 350px;
  top: 35;
  left: 92%;
  transform: translate(-60%, 0%);
  background-color: #043028;
  padding: 10px;
  z-index: 2; /* Higher z-index for the "Hello all" div */
  /* Set other styling properties for the overlay */
}

.titlehead {
  font-size: xx-large;
  color: white;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 10px;
}
.caption {
  font-size: large;
  color: white;
}

.caption-text {
  font-size: small;
  color: white;
}

.caption-div {
  text-align: center;
  padding: 15px;
}
