/* Herovideo.css */

@media screen and (min-width: 1022px) {
  .container {
    position: relative;
    padding-bottom: 5px;
    width: 100%;
  }

  .videodiv {
    position: relative;
    width: 730px;
    height: 400px;
  }

  .videodiv video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .videodiv-mobile {
    display: none;
  }

  .hello-all {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #043028;
    padding: 10px;
  }
}

/* For screens with a maximum width of 1022px (adjust as needed) */
@media (max-width: 1022px) {
  .container {
    position: relative;
    padding-bottom: 10px;
    width: 100%;
  }

  .videodiv {
    display: none;
  }

  .videodiv-mobile {
    padding: 20px;
  }

  .videodiv-mobile video {
    width: 100%;
    height: auto;
  }

  .hello-all {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #043028;
    padding: 10px;
    z-index: 1;
  }
}

.titlehead {
  font-size: 36px;
  color: white;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 10px;
}

.caption {
  font-size: 20px;
  color: white;
}

.caption-text {
  font-size: 14px;
  color: white;
}

.caption-div {
  text-align: center;
  padding: 15px;
}
