.page-title {
  font-size: 3em;
  font-weight: 750;
  text-align: left;
  color: #043028;
  margin: 0;
  padding-left: 1rem;
}

.page-text {
  font-size: 1.5em;
  font-weight: 375;
  text-align: left;
  color: #828282;
  margin: 0;
  padding-left: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 250px;
  perspective: 1000px;
  margin: 0.75rem;
  font-family: sans-serif;
}

.title {
  font-size: 2em;
  font-weight: 900;
  text-align: left;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1rem;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.cards .flip-card.first .flip-card-front,
.cards .flip-card.first .first {
  background-image: url('public/LogoImages/useCareImages/Image1.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.cards .flip-card.second .flip-card-front,
.cards .flip-card.second .second {
  background-image: url('public/LogoImages/useCareImages/Image2.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.cards .flip-card.third .flip-card-front,
.cards .flip-card.third .third {
  background-image: url('public/LogoImages/useCareImages/Image3.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.cards .flip-card.fourth .flip-card-front,
.cards .flip-card.fourth .fourth {
  background-image: url('public/LogoImages/useCareImages/Image4.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.cards .flip-card.fifth .flip-card-front,
.cards .flip-card.fifth .fifth {
  background-image: url('public/LogoImages/useCareImages/Image5.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.cards .flip-card.sixth .flip-card-front,
.cards .flip-card.sixth .sixth {
  background-image: url('public/LogoImages/useCareImages/Image6.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.cards .flip-card.first .flip-card-back,
.cards .flip-card.first .first-back {
  background-color: white;
  color: #043028;
  transform: rotateY(180deg);
}

.cards .flip-card.second .flip-card-back,
.cards .flip-card.second .second-back {
  background-color: white;
  color: #043028;
  transform: rotateY(180deg);
}

.cards .flip-card.third .flip-card-back,
.cards .flip-card.third .third-back {
  background-color: white;
  color: #043028;
  transform: rotateY(180deg);
}

.cards .flip-card.fourth .flip-card-back,
.cards .flip-card.fourth .fourth-back {
  background-color: white;
  color: #043028;
  transform: rotateY(180deg);
}

.cards .flip-card.fifth .flip-card-back,
.cards .flip-card.fifth .fifth-back {
  background-color: white;
  color: #043028;
  transform: rotateY(180deg);
}

.cards .flip-card.sixth .flip-card-back,
.cards .flip-card.sixth .sixth-back {
  background-color: white;
  color: #043028;
  transform: rotateY(180deg);
}
